*{
    background-color: #F15A29 ;
}
.main-wrapper{
    padding: 50px;
}
.main-wrapper first second third:hover{
    color: yellow;
}
.nav {display: block;
    margin: 1em 0 0 1em;
    width: 25px;
}
.nav div {
    background-color: white;
    height: 3px;
    border-radius: 45px;
    margin: 15px 20px ;
    margin-bottom: 0px;

}
.first {
    width: 68px;
}
.second {
    width: 68px;
}
.third {
    width: 68px;
}
