
.main-wrapper{
  padding: 30px;
}

.nav {display: block;
    margin: 1em 0 0 1em;
    width: 25px;
}

.nav div {
    background-color: white;
    height: 3px;
    border-radius: 45px;
    margin: 15px 20px ;
    margin-bottom: 0px;

}

.first {
    width: 70px;
}

.second {
    width: 70px;
}
.third {
    width: 70px;
}
.back-image{
  background: url('./assets/landing.jpg');
  height: 600px;
  margin: 0;

}

.logo-image{
    text-align: center;
    width: 100%;
    top: 0;
}

.logo-title{
    padding-top: 0px;
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 0.9px;
}

.main-div{
  display: flex;
  height: 200px;
}
.row1{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  #Happy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: grey;
  font-size: xx-large;
  }
#Party {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #F15A29;
  color: #f5f5f5;
  font-size: xx-large;
}
.Breakfast{
  background: url('./assets/breakfast.jpg');
  background-size: 100% 100%;
  width: 25%;
  font-style: italic;
  font-family: serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.Lunch{
  background: url('./assets/lunch.jpg');
  background-size: 100% 100%;
  width: 25%;
  font-style: italic;
  font-family: serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.Dinner{
  background: url('./assets/dinner.jpg');
  background-size: 100% 100%;
  width: 25%;
  font-style: italic;
  font-family: serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#slides {
  padding: 80px 70px;
  background-image: url(./assets/foodsBg.jpg);
  
}

#slides .container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;

}

#slides .food-item {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table, td {
  border: 1px solid rgb(233, 222, 222);
  border-collapse: collapse;
}

 td {
  padding: 5px;
  text-align: center;
  color: #f15a29;
  justify-content: space-between;
 }

 .prev{
   color: #f15a29;
 }
 .next{
   color: #f15a29;
 }

 .container{
   border: 5px;
 }

 .Chick{
   color: #F15A29;
 }
 .Beef-burger{
   color: #F15A29;
 }
.Chicken-pizza{
  color: #f15a29;
}
  .display-flex{
    display: flex;
    margin-bottom: 20px;

  }
  .fast-food{
    padding: 60px;
  }

  .display-flex-box{
    padding: 20px;
    box-shadow: 0px 0px 13px 7px rgba(196,196,196,1);
  }

  .paragraph{
    padding: 0px 60px;
  }

  .paragraph .p{
    padding: 5px;
    border: 1px solid #f15a29;
    width: 25%;
  }

  .img{
    display: flex;
  }

  .par{
    text-align: right;
  }

  .image-items{
    background: white;
    margin: 0px 10%;
    display: flex;
    padding: 25px;
  }

 .arrow {
   margin: 100px 0px;
 }

 .bar{
   display: flex;
   background: white;
   margin: 0px 10%;
   display: flex;
   text-align: center;
   font-size: 18px;
 }

.bar-items{
  width: 25%;
  padding: 5px;
  color: #0c0c0c;
  border: 1px solid grey;
  text-align: center;
  background: rgb(161, 157, 157);
}

.bar-items:hover{
  background: white;
  border: none;
  color: #f15a29;
}

.clients{
  padding: 80px 120px;
}

.happy-customers{
  padding: 20px;
  text-align: center;
}

.cust-image{
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin: 5px 150px;
}

.bord-box{
  display: flex;
  box-shadow: 0px 0px 13px 5px rgba(196,196,196,1);
  padding: 20px;
  text-align: center;
}

.About-Menu{
  padding: 5px;
  border-left: 1px solid rgb(199, 191, 191);
}
.About-Menu h3{
  color: #f15a29;
  font-weight: bolder;
}

.cust-image img{
  padding: 0px 10px;
}
.happy-customer >h3{
  color: #f15a29;
}

.neighbor >h3{
  color: #f15a29;
}
.last-image{
  background: url('./assets/subscribe.jpg');
  background-size: 100% 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;

}
.last-image input{
  width: 300px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  opacity: 0.5;
}
.last-image button{
  height: 40px;

  background-color: #F15A29;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 150px;
  margin-left: 25px;
}
footer{
  background-color: #F15A29;
  height: 330px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

}
footer span img{
  margin-left: 10px;
  margin-bottom: 60px;
}
#menu{
  font-size: 46px;
}
#footer-title{
  font-size: 20px;
  margin-bottom: 40px;
}
footer p{
  margin: 12px;
}
